.address-finder-input {
  margin-bottom: 0;
  position:relative;
}

ul.af_list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: solid 1px red;
  background: white;
}

li.af_item {
  cursor: pointer;
}

li.af_hover {
  background-color: green;
  color: white;
}

li.af_footer {
  font-size: 0.8em;
  color: yellow;
  text-align: right;
}
