.address_finder_container {
  position: relative;
}

.address-finder-input {
  margin-bottom: 0;
  position: relative;
}

.af_list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: solid 1px #35a744;
  background: white;
  box-sizing: border-box;
}

.af_item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #35a744;
}

.af_hover {
  background-color: green;
  color: white;
}

.af_footer {
  font-size: 0.8em;
  color: yellow;
  text-align: right;
}
