@import "./variables.css";
@import "./mixins";

$primary-text-color: #484848;
$primary-color: #35a744;
$secondary-color: #c4c4c4;
$primary-background: #fff;

form { margin: 25px 0 35px; }

.loader {
  margin: 0.2em 0 0 0.2em;
  vertical-align: bottom;
  display: inline-block;
  width: 33px;
  height: 33px;

  img {
    width: 33px;
    height: 33px;
  }
}

.loading {
  background: transparent url("loading.gif") no-repeat center top;
  background-size: 33px 33px;

  div,button{
    @include transition(opacity 2s ease);
    opacity:0;
  }
}

.results{
  min-height: 200px;
}

button {
  background: $primary-background;
  border: 1px solid $primary-color;
  color: $primary-text-color;
  display: inline-block;
  text-decoration: none;
  padding: 7px 10px;
  font-size: inherit;
  width: 100%;
  margin: 7px 7px 0 0;
  cursor: pointer;
  @media (min-width: 426px) {
    width: auto;
  }
}

input,
select {
  padding: 7px;
  font-size: inherit;
  width: 100%;
  margin: 3px 0;
  border: 1px solid $secondary-color;
  max-width: 600px;
}

input[type=search] { -webkit-appearance: textfield; }

.btn-toggle {
  margin-left: 1em;
}

@media (min-width: 426px) {
  .filters {
    select { display: none; }
  }
}
