$primary-text-color: #484848;
$primary-color: #39b54a;
$primary-color-variant: #c4c4c4;
$primary-background: #fff;
$primary-dark: #000;

.input-group {
  position: relative;
}

.input-group-addon {
  position: absolute;
  top: 10px;
  z-index: 1;
}

.input-group > input {
  box-sizing : border-box;
  display: block;
  width: 100%;
  font-size: 1.2em;
  border: none;
  height: 2.5em;
  border-bottom: 1px solid $primary-dark;
  padding-left: 1.5em;
}

.list-group > button {
  border-bottom: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 1em;

  &:hover {
    background: $primary-color;
    color: $primary-background;
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 1px solid $primary-color-variant;
  }
}

button {
  background-color: $primary-background;
  color: $primary-text-color;
  border-color: $primary-color-variant;
}

form, 
.form-group {
  margin-bottom: 30px;
}

.btn {
  background-color: $primary-background;
  border-color: $primary-color-variant;
  color: $primary-text-color;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 17px;
}
