@import "./helpers/lists";

$primary-color: #35a744;
$primary-text-color: #fff;

.selected {
  background: $primary-color;
  color: $primary-text-color;
}

.list-icon {

  > span {
    display: inline-block;
    margin-right: 10px;
  }
}

@media (max-width:425px) {
  .nav {
    display: none;
  }
}
