@import "./helpers/lists";
$primary-text-color: #484848;
$primary-color: #39b54a;
$light-text-color: #fff;

button {
  background: $light-text-color;
  border: 1px solid $primary-color;
  color: $primary-text-color;
  display: inline-block;
  margin: 0 3px 7px;
  text-decoration: none;
  padding: 7px;
  font-size: 16px;
}

.selected {
  background: $primary-color;
  color: $light-text-color;
}


.list-icon {

  > span {
    display: inline-block;
    margin-right: 10px;
  }
}
