$primary-color: #39b54a;
$light-text-color: #fff;
$light-color: #ccc;

.service, .service-info {
  background: $light-text-color;
  border-bottom: 1px solid $light-color;
  margin-bottom: 50px;
  overflow: auto;
  padding-bottom: 30px;
  
  a {
    text-decoration: none;
    h3 { color: $primary-color; }
  }

  a.telephone { color: $primary-color; }

  dt {
    clear: left;
    float: left;
    font-weight: bold;
    width: 130px;
  }

  dt::after {
    content: ":";
  }

  dd {
    margin-bottom: 0;
    margin-left: 130px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0;
    padding-top: 0;
  }
}

.service-info {
  padding: 0;
}

.search-results {
  width: 50%;
}

.service-primary {
  position: absolute;
  right: 99999px;
}

.col {
  float: left;
  width: 50%;
}

.search-result-hero {
  border-left: 4px solid $primary-color;
  margin-bottom: 30px;
  padding-bottom: 5px;
  padding-left: 21px;
  padding-top: 5px;

  h3 {
    font-size: 24px;
    margin: 0 0 5px;
  }

  p {
    margin-bottom: 3px;
    margin-top: 0;
  }
}

