$primary-color: #39b54a;

.service, .service-info {
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  padding-bottom: 30px;
  overflow: auto;
  a {
    text-decoration: none;
    > h3 {
      color: $primary-color;
    }
  }
  a[href^=tel] {
    color: $primary-color;
  }
  dt {
    float: left;
    clear: left;
    font-weight: bold;
    width: 130px;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 130px;
    padding: 0 0 0.5em 0;
  }
}

.service-info {
  padding:0;
}

.search-results {
  width: 50%;
}

.service-primary {
  position: absolute;
  right: 99999px;
}

.col {
  float: left;
  width: 50%;
}


// Patterns

.search-result-hero {
  border-left: 4px solid $primary-color;
  padding-left: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;

  // move headings into separate file
  h3 {
    font-size: 24px;
    margin: 0 0 5px;
  }
  p {
    margin-top: 0;
    margin-bottom: 3px;
  }
}

