$primary-color: #39b54a;

.service, .service-info {
  background: #fff;
  padding: 5px 15px;
  margin: 16px 0 10px;
  overflow: auto;
  a {
    text-decoration: none;
    > h3 {
      margin-top: 10px;
      color: $primary-color;
    }
  }
  a[href^=tel] {
    color: $primary-color;
  }
  dt {
    float: left;
    clear: left;
    font-weight: bold;
    width: 200px;
  }
  dt::after {
    content: ":";
  }
  dd {
    margin: 0 0 0 200px;
    padding: 0 0 0.5em 0;
  }
}
.service-info {
  padding:0;
}
.search-results {
  background: #f1f2f2;
  padding: 20px 0;
}
